# You can find a list of commands here: https://jb.gg/h38q75
# Find more examples here: https://jb.gg/share-ideavimrc
# Map IDE actions to IdeaVim -- https://jb.gg/abva4t
# Enable IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'

:set showmode
:set surround
:set dialogescape=on
:set ignorecase
set scrolloff=5
set incsearch
set sneak
set clipboard+=unnamed
# https://github.com/JetBrains/ideavim/wiki/ideajoin-examples
set ideajoin

let mapleader = ","

# Map in Terminal
## Navigation
nmap W <Action>(CloseAllEditors)

# Maps in visual, normal and select
## Editing
map <leader>cf <Action>(ReformatCode)
map Q gq
map <leader>co <Action>(ShowIntentionActions)
map <leader>ci <Action>(ExpressionTypeInfo)
map <leader>ch <Action>(ShowHoverInfo)
map <leader>cd <action>(QuickJavaDoc)
map <leader>cg <action>(Generate)

## Refactoring
map <leader>rm <Action>(RefactoringMenu)
map <leader>xm <Action>(ExtractMethod)
map <leader>xv <Action>(IntroduceVariable)

## Searching
map <leader>fA :action GotoAction<CR>
map <leader>fa :action FindInPath<CR>
map <leader>ff :action GotoFile<CR>
map <leader>fs :action GotoSymbol<CR>
map fE :action CodotaJavaScriptSearch<CR>


# Maps in Normal mode mappings

## Window management
nmap <leader>nf :action SelectInProjectView<CR>
nmap <leader>nb :action ActivateProjectToolWindow<CR>
nmap <leader>np :action ShowNavBar<CR>
nmap <leader>nr :action RecentFiles<CR>
nmap <leader>nl :action RecentLocations<CR>
nmap <leader>hb :action HideActiveWindow<CR>
nmap <leader>tt :action ActivateTerminalToolWindow<CR>
nmap <leader>z :action ToggleZenMode<CR>
nmap <Tab> <Action>(NextSplitter)

## Go to
nmap gd :action GotoDeclarationOnly<CR>
nmap gu :action FindUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gp :action JumpToLastChange<CR>

## Moving around
nmap [ :action Back<CR>
nmap ] :action Forward<CR>
nmap <M-[> :action EditorBackwardParagraph<CR>
nmap <M-]> :action EditorForwardParagraph<CR>
nmap { :action GotoPreviousError<CR>
nmap } :action GotoNextError<CR>
nmap - :action CollapseAllRegions<CR>
nmap + :action ExpandAllRegions<CR> 
nmap = :action ExpandAllToLevel1<CR>
nmap <Space> :action AceAction<CR>
nmap % :action EditorMatchBrace<CR>

## Run & Debugging
nmap <leader>dc <Action>(Debug)
nmap <leader>dr <Action>(ConfigurationXDebuggerResumeAction)
nmap <leader>df <Action>(DebugClass)
nmap <leader>dt <Action>(ToggleLineBreakpoint)
nmap <leader>do <Action>(StepOver)
nmap <leader>ds <Action>(Stop)

nmap <leader>rc <action>(Run)
nmap <leader>rf <action>(RunClass)
nmap <leader>rs <Action>(Stop)


# Maps in Insert mode mappings
## Copilot
imap <C-L> <Action>(copilot.applyInlaysNextWord)
imap <C-M-L> <Action>(copilot.applyInlaysNextLine)
imap <C-]> <Action>(copilot.disposeInlays)
imap <M-]> <Action>(copilot.cycleNextInlays)
imap <M-[> <Action>(copilot.cyclePrevInlays)
imap <M-\> <Action>(copilot.requestCompletions)
